<div class="author">
    <h1 class="author__heading">
        Hi, I am Bharath.
    </h1>
    <p class="author__body">
        Web developer
    </p>
</div>
<img src="/img/mountain_landscape.jpg" alt="mountain landscape" class="hero-image" width="976" height="549">

<section class="articles">
    <h2 class="articles__heading">Latest Posts</h2>
    <ul class="article-ul">
        <li>
            <a href="#">
                <span>Post Title</span>
                <span class="article-list__date">Date</span>
            </a>
        </li>
    </ul>

    <a href="#" class="pagination">&lt; View Older Posts</a>
</section>